<!DOCTYPE html>
<html ng-app="MyApp">
  	<head>
	    <meta charset="utf-8">
	    <title>¡Dilo Ya!</title>
	    <!-- inject:css -->
	    <!-- endinject -->

	    <!-- bower:css -->
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	    <link rel="stylesheet" href="bower_components/bootstrap3-dialog/dist/css/bootstrap-dialog.min.css">
      <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="bower_components/bootstrap-sweetalert/dist/sweetalert.css">
      <link rel="stylesheet" href="styles/main.css" type="text/css">	    
      <!-- endinject -->

	    <!--home-->
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title></title>
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width">

      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_h7MKshyQR2tvZDNN12CI-QRnLc_Qiso&libraries=places,geometry" async defer></script>
  	</head>

  	<body  ng-controller="LoginController" ng-class="">
      <div ng-show="$sessionStorage.currentUser.entered" ng-cloak>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navStyle">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="navColorText" ng-click="redirect()"><span class="spanTextE">¡Dilo</span> Ya!</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav" id="marginButton">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{$sessionStorage.currentUser.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ng-click="goSetting()" ><i class="fa fa-fw fa-gear"></i> Manejar cuenta</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-click="logout()">
                            <a><i class="fa fa-fw fa-power-off"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="navAlign">
                <ul class="nav navbar-nav side-nav" bs-active-link id="navColorText"  ng-show="$sessionStorage.currentUser.scope.indexOf('superAdmin')>-1">
                    <li>
                        <a ng-click="goNegocio()" id="navColorText"><i class="glyphicon glyphicon-usd" id="navColorText"></i> Negocios</a>
                    </li>
                    <li>
                        <a ng-click="goUsuarios()" id="navColorText"><i class="glyphicon glyphicon-user" id="navColorText"></i> Usuarios</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav side-nav" bs-active-link id="navColorText"  ng-show="$sessionStorage.currentUser.scope.indexOf('admin')>-1">
                    <li>
                        <a ng-click="goSucursales()"  id="navColorText"><i class="glyphicon glyphicon-home" id="navColorText"></i> Sucursales</a>
                    </li>
                    <li>
                        <a ng-click="goGerentesNivel2()"  id="navColorText"><i class="glyphicon glyphicon-user" id="navColorText"></i> Gerentes Nivel 2</a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
      <div ui-view  ></div>
  	</body>
  	<!-- bower:js -->
  	<script src="bower_components/jquery/dist/jquery.js"></script>
  	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
  	<script src="bower_components/angular/angular.js"></script>
  	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  	<script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  	<script src="bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js"></script>
    <script src="bower_components/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
  	<script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
  	<!-- endinject -->

  	<script src="app.js"></script>  

  	<!-- inject:js -->
    <script src="scripts/controllers/dirPagination.js"></script>
    <script src="scripts/controllers/LoginController.js"></script>
    <script src="scripts/services/AuthService.js"></script>
    <script src="scripts/controllers/BusinessController.js"></script>
    <script src="scripts/services/BusinessService.js"></script>
    <script src="scripts/controllers/BranchOfficeController.js"></script>
    <script src="scripts/services/BranchOfficeService.js"></script>
    <script src="scripts/controllers/BranchOfficeManagerController.js"></script>
    <script src="scripts/services/BranchOfficeManagerService.js"></script>
    <script src="scripts/controllers/BranchOfficeManagerLevelTwoController.js"></script>
    <script src="scripts/services/BranchOfficeManagerLevelTwoService.js"></script>
    <script src="scripts/controllers/ComplainController.js"></script>
    <script src="scripts/services/ComplainService.js"></script>
    <script src="scripts/controllers/UserController.js"></script>
    <script src="scripts/services/UserService.js"></script>
  	<!-- endinject -->
</html>
