<div class = "container" ng-controller="BranchOfficeController" ng-init = "allBranchOfficesByBusiness($sessionStorage.params.id_Business)" id="container">
	<br>
	<button class="btn btn-success glyphicon glyphicon-arrow-left pull-left" ng-click="goBusiness()"></button>
	<div class="row">
		<h2 >{{$sessionStorage.params.businessName}}</h2>
		<h3 class="col-md-4 col-sm-4 col-xs-4"><span class="spanTextEEE">Lista</span> <span class ="spanTextEEColor"> sucursales</span></h3>
		<button type="button" class="btn btn-primary btn-lg col-md-2 col-sm-2 col-xs-2 col-xs-offset-4 pull-right" data-toggle="modal" data-target="#myModalAdd" ng-click="branchOffice={}; initMap2(); branchOffice.maxWaitTime = 10" id="marginButton">Agregar</button>			
	</div>
	<span class="clearfix"></span>
	<hr>
	<div class="form-group col-lg-2 col-md-2 pull-left" id="itemsMarginL">
          <label for="Buscar">Buscar/Filtrar:</label>
          <input type="text" class="form-control" id="Buscar" name="Buscar" ng-model="Buscar" id="Buscar">
    </div>
	<div class="form-group col-lg-2 col-md-2 pull-right" id="itemsMarginR">
          <label for="ItemsPerPage"><label >Items por página:</label></label>
          <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" ng-init="pageSize = 7" id="pageSize" name="pageSize" ng-minlength="1" ng-maxlength="100">
	</div>    
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	      	<tr class="trStyle">
		        <th>Nombre</th>
		        <th>Dirección</th>
		        <th>Teléfono</th>
		        <th>Editar</th>
		        <th>Eliminar</th>
		        <th>Quejas</th>
		        <th>Reporte</th>
	      	</tr>
	    </thead>
	    <tbody>
	      	<tr dir-paginate="x in businessBranchOffices | filter:Buscar | itemsPerPage: pageSize |  filter:query as results" >
		        <td>{{x.name}}</td>
		        <td>{{x.direction}}</td>
		        <td>{{x.telephone}}</td>
		        <td>
		        	<button type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModalEdit" ng-click="getBranchOfficeWithMap(x._id);"></button>
		        </td>
		        <td>
		        	<button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModalDelete" ng-click="getBranchOffice(x._id)"></button>
		        </td>
		        <td>
		        	<button type="button" class="btn btn-primary glyphicon glyphicon-search" ng-click="viewComplain(x)"></button>
		        </td>
		        <td>
		        	<button type="button" class="btn  btn-success glyphicon glyphicon-align-left" ng-click = "goReportsBranch(x._id)"></button>	
		        </td>
	      	</tr>
	    </tbody>
  	</table>
  	<div class="form-group col-lg-4 col-md-6 pull-right" id="controlMargin">
      	<label for="CreateRol" ng-if="pageSize < results.length"><label>...</label></label>
      	<dir-pagination-controls max-size="100" direction-links="true" boundary-links="true" ></dir-pagination-controls>
    </div>

    <!-- Modal -->
	<div class="modal fade" id="myModalAdd" role="dialog">
	    <div class="modal-dialog">
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header trStyle">
	          		<button type="button" class="close" data-dismiss="modal" id="closeColor">&times;</button>
	          		<h4 class="modal-title">Creación de Sucursal</h4>
	        	</div>
	        	<div class="modal-body">
	          		<form class="form-horizontal" name="branchOfficeFormAdd" ng-init="branchOfficeFormAdd.$valid" novalidate>
					  	<div>
					  		<p id="map2"></p>
					  	</div>
					  	</br><hr>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.coordinates.$invalid && !branchOfficeForm.coordinates.$pristine }">
						    <div class="col-sm-8">
						      	<input 
							      	type="hidden" 
							      	name="coordinates" 
							      	class="form-control"
							      	ng-model="branchOffice.coordinates"
							      	limit-to="50" 
							      	readonly
						      		required
					      		>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeFormAdd.name.$invalid && !branchOfficeFormAdd.name.$pristine }">
						    <label class="control-label col-sm-4">Nombre oficial:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="name" 
						      	class="form-control" 
						      	placeholder="Nombre de la empresa"
						      	ng-model="branchOffice.name"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeFormAdd.name.$invalid && !branchOfficeFormAdd.name.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeFormAdd.direction.$invalid && !branchOfficeFormAdd.direction.$pristine }">
						    <label class="control-label col-sm-4">Dirección detallada:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="direction" 
						      	class="form-control" 
						      	placeholder="Ubicación de la empresa"
						      	ng-model="branchOffice.direction"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeFormAdd.direction.$invalid && !branchOfficeFormAdd.direction.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeFormAdd.telephone.$invalid && !branchOfficeFormAdd.telephone.$pristine }">
						    <label class="control-label col-sm-4">Teléfono:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="telephone" 
							      	class="form-control" 
							      	placeholder="Ej. 88888888"
							      	ng-model="branchOffice.telephone" 
							      	limit-to="8"
							      	ng-pattern="/^\d+$/"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeFormAdd.telephone.$invalid && !branchOfficeFormAdd.telephone.$pristine" class="help-block">Porfavar ingrese un número válido</p>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeFormAdd.maxWaitTime.$invalid && !branchOfficeFormAdd.maxWaitTime.$pristine }">
						    <label class="control-label col-sm-4">Tiempo límite de espera (minutos):<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="number" 
							      	ng-min="1"
							      	name="maxWaitTime" 
							      	class="form-control" 
							      	ng-model="branchOffice.maxWaitTime"
							      	limit-to="50" 
						      		required
					      		>
					      		<p ng-show="branchOfficeFormAdd.maxWaitTime.$invalid && !branchOfficeFormAdd.maxWaitTime.$pristine" class="help-block">Introduzca un valor válido</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeFormAdd.station.$invalid && !branchOfficeFormAdd.station.$pristine }" ng-init= "branchOffice.station = 'Mesa'">
						    <label class="control-label col-sm-4">Estación: <font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="station" 
							      	class="form-control" 
							      	placeholder="Ej. Mesa"
							      	ng-model="branchOffice.station" 
							      	limit-to="20"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeFormAdd.telephone.$invalid && !branchOfficeFormAdd.telephone.$pristine" class="help-block">Porfavar ingrese una estación válida</p>
					  	</div>
					  	<div class="form-group"> 
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-success" ng-disabled="branchOfficeFormAdd.$invalid" ng-click="addBranchOffice(branchOffice);" data-dismiss="modal">Crear</button>
					    	</div>
					  	</div>
					</form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div>

	<div class="modal fade" id="myModalEdit" role="dialog">
	    <div class="modal-dialog">
	      	<div class="modal-content">
	        	<div class="modal-header trStyle">
	          		<button type="button" class="close" data-dismiss="modal" id="closeColor">&times;</button>
	          		<h4 class="modal-title">Editar Sucursal</h4>
	        	</div>
	        	<div class="modal-body">
	          		<form class="form-horizontal" name="branchOfficeForm" ng-init="branchOfficeForm.$valid" novalidate>
					  	<div>
					  		<p id="map3"></p>
					  	</div>
					  	</br><hr>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.coordinates.$invalid && !branchOfficeForm.coordinates.$pristine }">
						    <div class="col-sm-8">
						      	<input 
							      	type="hidden" 
							      	name="coordinates" 
							      	class="form-control"
							      	ng-model="branchOffice.coordinates"
							      	limit-to="50" 
							      	readonly
						      		required
					      		>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.name.$invalid && !branchOfficeForm.name.$pristine }">
						    <label class="control-label col-sm-4">Nombre oficial:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="name" 
						      	class="form-control" 
						      	placeholder="Nombre de la empresa"
						      	ng-model="branchOffice.name"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeForm.name.$invalid && !branchOfficeForm.name.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.direction.$invalid && !branchOfficeForm.direction.$pristine }">
						    <label class="control-label col-sm-4">Dirección detallada:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="direction" 
						      	class="form-control" 
						      	placeholder="Ubicación de la empresa"
						      	ng-model="branchOffice.direction"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeForm.direction.$invalid && !branchOfficeForm.direction.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.telephone.$invalid && !branchOfficeForm.telephone.$pristine }">
						    <label class="control-label col-sm-4">Teléfono: </label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="telephone" 
							      	class="form-control" 
							      	placeholder="Ej. 88888888"
							      	ng-model="branchOffice.telephone" 
							      	ng-pattern="/^\d+$/"
							      	limit-to="8"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeForm.telephone.$invalid && !branchOfficeForm.telephone.$pristine" class="help-block">Porfavar ingrese un número válido</p>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.maxWaitTime.$invalid && !branchOfficeForm.maxWaitTime.$pristine }">
						    <label class="control-label col-sm-4">Tiempo límite de espera (minutos):<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="number" 
							      	name="maxWaitTime" 
							      	class="form-control" 
							      	ng-model="branchOffice.maxWaitTime"
							      	limit-to="50" 
						      		required
					      		>
					      		<p ng-show="branchOfficeForm.maxWaitTime.$invalid && !branchOfficeForm.maxWaitTime.$pristine" class="help-block">Introduzca un valor válido</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeForm.station.$invalid && !branchOfficeForm.station.$pristine }">
						    <label class="control-label col-sm-4">Estación: <font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="station" 
							      	class="form-control" 
							      	placeholder="Ej. Mesa"
							      	ng-model="branchOffice.station" 
							      	limit-to="20"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeForm.station.$invalid && !branchOfficeForm.station.$pristine" class="help-block">Porfavar ingrese una estación válida</p>
					  	</div>
					  	<div class="form-group"> 
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-success" ng-disabled="branchOfficeForm.$invalid" ng-click="updateBranchOffice(branchOffice); resetForm(branchOfficeForm)" data-dismiss="modal">Actualizar</button>
					    	</div>
					  	</div>
					</form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalDelete" role="dialog">
	    <div class="modal-dialog">
	      	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title">Esta seguro?</h4>
	        	</div>
	        	<div class="modal-body">
	          		<strong style="color: red;">No hay forma de recuperar esta información...</strong>
	        	</div>
	        	<div class="modal-footer">
	        		<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteBranchOffice(branchOffice._id)">Eliminar</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div> 
</div>


