<div class = "container" ng-controller="BranchOfficeManagerController" ng-init = "allBranchOfficeManagersByBranchOffice($sessionStorage.params.id_BranchOffice)" id="container">
	<br>
	<div class="row">
		<h2 ng-controller="BusinessController" ng-init="getBusiness($sessionStorage.currentUser.id_Business)">{{business.name}}</h2>
		<h3 class="col-md-4 col-sm-4 col-xs-4"><span class="spanTextEEE">Gerentes en </span> <span class ="spanTextEEColor"> {{$sessionStorage.params.branchOfficeName}}</span></h3>
		<button type="button" class="btn btn-primary btn-lg col-md-2 col-sm-2 col-xs-2 col-xs-offset-4 pull-right" data-toggle="modal" data-target="#myModalAdd" ng-click="branchOfficeManager={}; initMap2()" id="marginButton">Agregar</button>				
	</div>
	<span class="clearfix"></span>
	<hr>
	<div class="form-group col-lg-2 col-md-2 pull-left" id="itemsMarginL">
          <label for="Buscar">Buscar/Filtrar:</label>
          <input type="text" class="form-control" id="Buscar" name="Buscar" ng-model="Buscar" id="Buscar">
    </div>
	<div class="form-group col-lg-2 col-md-2 pull-right" id="itemsMarginR">
          <label for="ItemsPerPage"><label >Items por página:</label></label>
          <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" ng-init="pageSize = 7" id="pageSize" name="pageSize" ng-minlength="1" ng-maxlength="100">
	</div>    
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	      	<tr class="trStyle">
		        <th>Nombre</th>
		        <th>Email</th>
		        <th>Teléfono</th>
		        <th>Editar</th>
		        <th>Eliminar</th>
	      	</tr>
	    </thead>
	    <tbody>
	      	<tr dir-paginate="x in branchOfficeManagers | filter:Buscar | itemsPerPage: pageSize |  filter:query as results" >
		        <td>{{x.name}}</td>
		        <td>{{x.email}}</td>
		        <td>{{x.telephone}}</td>
		        <td>
		        	<button type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModalEdit" ng-click="getBranchOfficeManager(x._id); initMap3()"></button>
		        </td>
		        <td>
		        	<button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModalDelete" ng-click="getBranchOfficeManager(x._id)"></button>
		        </td>
	      	</tr>
	    </tbody>
  	</table>
  	 <div class="form-group col-lg-4 col-md-6 pull-right" id="controlMargin">
          <label for="CreateRol" ng-if="pageSize < results.length"><label>...</label></label>
            <dir-pagination-controls max-size="100" direction-links="true" boundary-links="true" ></dir-pagination-controls>
     </div>


	<!-- Modal -->
	<div class="modal fade" id="myModalAdd" role="dialog">
	    <div class="modal-dialog">
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header trStyle">
	          		<button type="button" class="close" data-dismiss="modal" id="closeColor">&times;</button>
	          		<h4 class="modal-title">Creación de negocios</h4>
	        	</div>
	        	<div class="modal-body">
	          		<form class="form-horizontal" name="branchOfficeManagerFormAdd" ng-init="branchOfficeManagerFormAdd.$valid" novalidate>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerFormAdd.name.$invalid && !branchOfficeManagerFormAdd.name.$pristine }">
						    <label class="control-label col-sm-4">Nombre Completo:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="name" 
						      	class="form-control" 
						      	placeholder="Nombre del gerente"
						      	ng-model="branchOfficeManager.name"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeManagerFormAdd.name.$invalid && !branchOfficeManagerFormAdd.name.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerFormAdd.email.$invalid && !branchOfficeManagerFormAdd.email.$pristine }">
						    <label class="control-label col-sm-4">Email:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="email" 
							      	name="email" 
							      	class="form-control" 
							      	placeholder="something@domain.com" 
								    ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
							      	ng-model="branchOfficeManager.email"
							      	limit-to="50" 
						      		required
					      		>
					      		<p ng-show="branchOfficeManagerFormAdd.email.$invalid && !branchOfficeManagerFormAdd.email.$pristine" class="help-block">Ingrese un correo válido</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerFormAdd.telephone.$invalid && !branchOfficeManagerFormAdd.telephone.$pristine }">
						    <label class="control-label col-sm-4">Teléfono:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="telephone" 
							      	class="form-control" 
							      	placeholder="Ej. 88888888"
							      	ng-pattern="/^\d+$/"
							      	ng-model="branchOfficeManager.telephone" 
							      	limit-to="8"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeManagerFormAdd.telephone.$invalid && !branchOfficeManagerFormAdd.telephone.$pristine" class="help-block">Porfavar ingrese un número válido</p>
					  	</div>
					  	<div class="form-group"> 
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-success" ng-disabled="branchOfficeManagerFormAdd.$invalid" ng-click="addBranchOfficeManager(branchOfficeManager); resetForm(branchOfficeManagerFormAdd)" data-dismiss="modal">Crear</button>
					    	</div>
					  	</div>
					</form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalEdit" role="dialog">
	    <div class="modal-dialog">
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header trStyle">
	          		<button type="button" class="close" data-dismiss="modal" id="closeColor">&times;</button>
	          		<h4 class="modal-title">Editar negocio</h4>
	        	</div>
	        	<div class="modal-body">
	          		<form class="form-horizontal" name="branchOfficeManagerForm" ng-init="branchOfficeManagerForm.$valid" novalidate>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerForm.name.$invalid && !branchOfficeManagerForm.name.$pristine }">
						    <label class="control-label col-sm-4">Nombre Completo:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
						      	type="text" 
						      	name="name" 
						      	class="form-control" 
						      	placeholder="Nombre del gerente"
						      	ng-model="branchOfficeManager.name"
						      	limit-to="50" 
					      		required
					      		>
					      		<p ng-show="branchOfficeManagerForm.name.$invalid && !branchOfficeManagerForm.name.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerForm.email.$invalid && !branchOfficeManagerForm.email.$pristine }">
						    <label class="control-label col-sm-4">Email:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="email" 
							      	name="email" 
							      	class="form-control" 
							      	placeholder="something@domain.com" 
								    ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
							      	ng-model="branchOfficeManager.email"
							      	limit-to="50" 
						      		required
					      		>
					      		<p ng-show="branchOfficeManagerForm.email.$invalid && !branchOfficeManagerForm.email.$pristine" class="help-block">Ingrese un correo válido</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : branchOfficeManagerForm.telephone.$invalid && !branchOfficeManagerForm.telephone.$pristine }">
						    <label class="control-label col-sm-4">Teléfono:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="telephone" 
							      	class="form-control" 
							      	placeholder="Ej. 88888888"
							      	ng-pattern="/^\d+$/"
							      	ng-model="branchOfficeManager.telephone" 
							      	limit-to="8"
							      	required 
						      	>
						    </div>
						    <p ng-show="branchOfficeManagerForm.telephone.$invalid && !branchOfficeManagerForm.telephone.$pristine" class="help-block">Porfavar ingrese un número válido</p>
					  	</div>
					  	<div class="form-group"> 
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-success" ng-disabled="branchOfficeManagerForm.$invalid" ng-click="updateBranchOfficeManager(branchOfficeManager); resetForm(branchOfficeManagerForm)" data-dismiss="modal">Actualizar</button>
					    	</div>
					  	</div>
					</form>
	        	</div>
	        	<div class="modal-footer">
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalDelete" role="dialog">
	    <div class="modal-dialog">
	      	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title">Esta seguro?</h4>
	        	</div>
	        	<div class="modal-body">
	          		<strong style="color: red;">No hay forma de recuperar esta información...</strong>
	        	</div>
	        	<div class="modal-footer">
	        		<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteBranchOfficeManager(branchOfficeManager._id)">Eliminar</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div> 
</div>
