<div class = "container" ng-controller="ComplainController" ng-init = "allComplainsByBranchOffice($sessionStorage.params)">
	<br>
	<button class="btn btn-success glyphicon glyphicon-arrow-left pull-left" ng-click="viewBranchOffice()"></button>
	<div class="row">
		<h2 >{{$sessionStorage.params.branchOfficeName}}</h2>
		<h3 class="col-md-4 col-sm-4 col-xs-4"><span class="spanTextEEE">Lista</span> <span class ="spanTextEEColor"> quejas</span></h3>
	</div>
	<hr>
	<span class="clearfix"></span>
	<div class="form-group col-lg-2 col-md-2 pull-left" id="itemsMarginL">
          <label for="Buscar">Buscar/Filtrar:</label>
          <input type="text" class="form-control" id="Buscar" name="Buscar" ng-model="Buscar" id="Buscar">
    </div>
	<div class="form-group col-lg-2 col-md-2 pull-right" id="itemsMarginR" >
          <label for="ItemsPerPage"><label >Items por página:</label></label>
          <input type="number" min="1" max="100" class="form-control" ng-init="pageSize = 7" ng-model="pageSize" id="pageSize" name="pageSize" ng-minlength="1" ng-maxlength="100">
	</div> 	
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	      	<tr class="trStyle">
		        <th>Nombre</th>
		        <th>Teléfono</th>
		        <th>Mensaje</th>
		        <th>Comentario</th>
		        <th>Estado</th>
	      	</tr>
	    </thead>
	    <tbody>
		<tr dir-paginate="x in complains | filter:Buscar | itemsPerPage: pageSize |  filter:query as results" >
		        <td>{{x.name}}</td>
		        <td>{{x.telephone}}</td>
		        <td>{{x.message}}</td>
		        <td>{{x.extraDescription}}</td>
		        <td>{{x.solved == 0 ? "Pendiente" : ""}}{{x.solved == 1 ? "Solucionado" : ""}}{{x.solved == 2 ? "Intervención de gerente nivel 2" : ""}}</td>
	      	</tr>
	    </tbody>
  	</table>
   	 <div class="form-group col-lg-4 col-md-6 pull-right" id="controlMargin">
          <label for="CreateRol" ng-if="pageSize < results.length"><label>...</label></label>
            <dir-pagination-controls max-size="100" direction-links="true" boundary-links="true" ></dir-pagination-controls>
     </div> 	
</div>
