<div class = "container" ng-controller="BranchOfficeController" ng-init = "getBranchReport()" id="container">
	<button class="btn btn-success glyphicon glyphicon-arrow-left pull-left" ng-click="goBranchOffice()"></button>
	<div class="row text-center">
		<h2>{{actualBranch}}</h2>
	</div>
	</br>
	<ul class="nav nav-tabs" ng-init="tab = 1">
	    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1;pieChart()"><a>Pie Chart</a></li>
  	</ul>

	<div ng-show="tab == 1">
		<div id = "businessGraphPie"></div>
	</div>
</div>
