<div class = "container" ng-controller="UserController" ng-init = "allUsers()">
	<br>
	<div class="row">
		<h2 class="col-md-4 col-sm-4 col-xs-4"><span class="spanTextEEE">Lista</span> <span class ="spanTextEEColor">de Usuarios</span></h2>
		<button type="button" class="btn btn-primary btn-lg col-md-2 col-sm-2 col-xs-2 col-xs-offset-4 pull-right" data-toggle="modal" data-target="#myModalAdd" ng-click="user={}; user.password='Prueba123$'" id="marginButton">Agregar</button>
	</div>
	<hr>
	<span class="clearfix"></span>
	<div class="form-group col-lg-2 col-md-2 pull-left" id="itemsMarginL">
          <label for="Buscar">Buscar/Filtrar:</label>
          <input type="text" class="form-control" id="Buscar" name="Buscar" ng-model="Buscar" id="Buscar">
    </div>
	<div class="form-group col-lg-2 col-md-2 pull-right" id="itemsMarginR">
          <label for="ItemsPerPage"><label >Items por página:</label></label>
          <input type="number" min="1" max="100" class="form-control" ng-model="pageSize" id="pageSize" name="pageSize" ng-minlength="1" ng-maxlength="100">
	</div> 	
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	      	<tr class="trStyle">
		        <th>Nombre</th>
		        <th>Email</th>
		        <th>Teléfono</th>
		        <th>Rol</th>
		        <th>Eliminar</th>
	      	</tr>
	    </thead>
	    <tbody>
		<tr dir-paginate="x in users | filter:Buscar | itemsPerPage: pageSize |  filter:query as results" >
		        <td>{{x.name}}</td>
		        <td>{{x.email}}</td>
		        <td>{{x.telephone}}</td>
		        <td>{{x.role == -1 ? 'Super Admin':'Business Admin'}}</td>
		        <td>
		        	<button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModalDelete" ng-click="getUser(x._id)"></button>
		        </td>
	      	</tr>
	    </tbody>
  	</table>
   	 <div class="form-group col-lg-4 col-md-6 pull-right" id="controlMargin">
          <label for="CreateRol" ng-if="pageSize < results.length"><label>...</label></label>
            <dir-pagination-controls max-size="100" direction-links="true" boundary-links="true" ></dir-pagination-controls>
     </div> 	


	<!-- Modal -->
	<div class="modal fade" id="myModalAdd" role="dialog">
	    <div class="modal-dialog">
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header trStyle">
	          		<button type="button" class="close" data-dismiss="modal" id="closeColor">&times;</button>
	          		<h4 class="modal-title">Creación de usuario</h4>
	        	</div>
	        	<div class="modal-body">
	          		<form class="form-horizontal" name="userFormAdd" ng-init="userFormAdd.$valid" novalidate>
					  	<div class="form-group" ng-class="{ 'has-error' : userFormAdd.name.$invalid && !userFormAdd.name.$pristine }">
						    <label class="control-label col-sm-4">Nombre:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="name" 
							      	class="form-control" 
							      	placeholder="Ingrese el nombre del usuario"
							      	ng-model="user.name"
							      	limit-to="50" 
						      		required
					      		>
					      		<p ng-show="userFormAdd.name.$invalid && !userFormAdd.name.$pristine" class="help-block">Porfavar llene este campo</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : userFormAdd.email.$invalid && !userFormAdd.email.$pristine }">
						    <label class="control-label col-sm-4">Email:<font color="red">* </font></label>
						    <div class="col-sm-8">
						      	<input 
							      	type="email" 
							      	name="email" 
							      	class="form-control" 
							      	placeholder="algo@ejemplo.com" 
							      	ng-model="user.email" 
							      	limit-to="50" 
							      	required
							    >
						      	<p ng-show="userFormAdd.email.$invalid && !userFormAdd.email.$pristine" class="help-block">Ingrese un correo válido</p>
						    </div>
					  	</div>
					  	<div class="form-group">
						    <label class="control-label col-sm-4">Teléfono: </label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="telephone" 
							      	class="form-control" 
							      	placeholder="Ej. 8888-8888"
							      	ng-model="user.telephone" 
							      	limit-to="8"
						      	>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && userForm.password.$touched }">
						    <label class="control-label col-sm-4">Contraseña Default:<font color="red">* </font> </label>
						    <div class="col-sm-8">
						      	<input 
							      	type="text" 
							      	name="password" 
							      	class="form-control" 
							      	placeholder="Enter password" 
							      	ng-model="user.password" 
							      	ng-init="user.password = 'Prueba123$'" 
							      	required
						      	>
						    </div>
					  	</div>
					  	<div class="form-group" ng-class="{ 'has-error' : userForm.role.$invalid && !userForm.role.$pristine }">
						    <label class="control-label col-sm-4">Rol:<font color="red">* </font> </label>
						    <div class="col-sm-8">
						      	<select 
						      		name="role" 
						      		ng-options="r.id as r.description for r in roles" 
						      		ng-model="user.role"
						      		class="form-control"
						      		required>
						      	</select>
						      	<p ng-show="userForm.role.$invalid && !userForm.role.$pristine" class="help-block">Seleccione un rol válido</p>
						    </div>
					  	</div>
					  	<div class="form-group" ng-show="user.role == 0" ng-class="{ 'has-error' : userForm.business.$invalid && !userForm.business.$pristine }">
						    <label class="control-label col-sm-4">Negocio:<font color="red">* </font> </label>
						    <div class="col-sm-8" ng-controller="BusinessController">
						      	<select 
						      		ng-init="allBusinesses();" 
						      		name="business" 
						      		ng-options="b._id as b.name for b in businesses" 
						      		ng-model="user.id_Business"
						      		class="form-control"
						      		ng-if="user.role == 0"
						      		required>
						      	</select>
						      	<p ng-show="userForm.role.$invalid && !userForm.role.$pristine" class="help-block">Seleccione un negocio válido</p>
						    </div>
					  	</div>
					  	<div class="form-group"> 
					    	<div class="col-sm-offset-2 col-sm-10">
					      		<button type="submit" class="btn btn-success" ng-disabled="userFormAdd.$invalid" ng-click="addUser(user); resetForm(userFormAdd)" data-dismiss="modal">Crear</button>
					    	</div>
					  	</div>
					</form>
	        	</div>
	        	<div class="modal-footer trStyle">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModalDelete" role="dialog">
	    <div class="modal-dialog">
	      	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title">Estas Seguro?</h4>
	        	</div>
	        	<div class="modal-body">
	          		<strong style="color: red;">Estas apunto de eliminar este usuario...</strong>
	        	</div>
	        	<div class="modal-footer">
	        		<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteUser(user._id)">Confirmar</button>
	          		<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        	</div>
	      	</div>
	    </div>
	</div> 

</div>
